h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

header .intro-text .name {
  font-family: 'Droid Arabic Kufi', sans-serif;
}

.navbar {
  font-family: 'Droid Arabic Kufi', sans-serif;
}
