@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

html {
  font-family: "Droid Arabic Kufi", sans-serif;
}

body {
  font-family: "Droid Arabic Kufi", sans-serif;
}


h1, .text-center h2, .footer-col h3, h4, h5, h6, .h1, .text-center .h2, .footer-col .h3, .h4, .h5, .h6 {
  font-family: "Droid Arabic Kufi", sans-serif;
}

header .intro-text .name {
  font-family: "Droid Arabic Kufi", sans-serif;
}

.navbar {
  font-family: "Droid Arabic Kufi", sans-serif;
}

.tooltip {
  font-family: "Droid Arabic Kufi", sans-serif;
}

.popover {
  font-family: "Droid Arabic Kufi", sans-serif;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
  font-family: "Droid Arabic Kufi", sans-serif;
}

.footer-below .col-lg-12 {
  font-family: "Droid Arabic Kufi", sans-serif;
}
